.GameDisplay {
  display: flex;
  padding: 12px 0;
  width: 80%;
  margin: auto;
}

.GameInfo {
  flex: 3 0 auto;
  background: white;
  margin: 4px 20px 4px;
}

.RestartButton {
  flex: 1 0 auto;
  background: white;
}
